*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #EDF2FC;
    --secondary-color: #212121;
    --shadow-color: 0 0 20px 0px rgba(0,0,0,0.3);
}

.dark-theme{
    --primary-color: #3F3F3F;
    --secondary-color: #F8FFF6;
    --shadow-color: 0 0 20px 0px rgba(255,255,255,0.3);
}

body{
    font-family: sans-serif;
    /*background: radial-gradient(#f3fff1, #FFF);*/
    background: var(--primary-color);
}

.fontAwesome {
  font-family: Helvetica, 'FontAwesome', sans-serif;
}


.center-box{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-box div{
    width: 650px;
    height: 60px;
    overflow: hidden;
    margin: 8px 0;
    color: #555;
    border-radius: 5px;

}

.center-box span{
    float: left;
    width: 40px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}

.center-box p{
    float: left;
    margin: 0;
    padding: 0 6px;
    font-size: 16px;
    font-weight: 100px;
    line-height: 60px;
    color: #65956f;


}

.m-success{
    background: #d4edda;
}

.m-success span{
    background: #27ae60;
    color: #65956f;
}

.m-success p{
    color: #65956f;
}


.m-warning{
    background: #fff3cd;
}

.m-warning span{
    background: #d2be82;
    color: #b49b52;
}

.m-warning p{
    color: #b49b52;
}


.m-danger{
    background: #f8d7da;
}

.m-danger span{
    background: #ca969b;
    color: #721c24;
}

.m-danger p{
    color: #721c24;
}

.m-info{
    background: #d1ecf1;
}

.m-info span{
    background: #9cc3c9;
    color: #0c5460;
}

.m-info p{
    color: #0c5460;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;

}




nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a:hover {
    color: #7cad2f;
    /*text-decoration: none;*/
}

a{
    text-decoration: none;
    color: var(--secondary-color);

}

p{
    color: var(--secondary-color);
}

.container{
    max-width: 1700px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: var(--secondary-color);
}

.img-box{
    width: 40%;
    height: 80%;
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.img-box img{
    height: 80%;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.img-box .main-img{
    width: 100%;
    height: auto;
    min-width: 400px;
}


.img-box .back-img{
    width: 80%;
    height: auto;
    min-width: 500px;
}

.img-box:hover .back-img{
    bottom: 25px;
}

.img-box:hover .main-img{
    left: 54%;
}

.btn{
    display: inline-block;
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;

}

.btn:hover{
    background: #7cad2f;
    color: var(--secondary-color);
}

.header{
    /*background: radial-gradient(#f3fff1, #FFF);*/
    background: var(--primary-color);
    /*background-image: url(../image/logo-ips-header.png);*/

}

.header .row{
    margin-top: 70px;
}


.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


.info{
    margin-left: 8%;
    margin-top: 15%;
}


.info h1{
    font-size: 40px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.info span{
    color: #7cad2f;
}


.info p{
    color: var(--secondary-color);
    line-height: 22px;
}

.info a{
    background: var(--secondary-color);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}


.info a:hover{
    background: #7cad2f;
    color: #FFF;
}


.social-links{
    margin-left: 8%;
    margin-top: 100px;
}


.social-links a {
    font-size: 30px;
    color: var(--secondary-color);
    margin-right: 20px;
    /*text-decoration: none;*/
}


.social-links a:hover {
    color: #7cad2f;
    /*text-decoration: none;*/
}






/*---------------------------account page --------------------------*/
.account-page{
    /*padding: 50px 0;
    background: radial-gradient(#f3fff1, #FFF);*/
}



.form-container{
    background: var(--primary-color);
    width: 300px;
    height: 450px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    /*box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);*/
    box-shadow: var(--shadow-color);
    border-radius: 10px;
}


.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #7cad2f;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 100px;
}

form input{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    background:#7cad2f;
    color: var(--secondary-color);
}

form .btn:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
}

form .btn:focus{
    outline: none;
}


form a{
    font-size: 12px;
    color: var(--secondary-color);
}

form a:hover{
    color: #7cad2f;
}


form i{
    font-size: 9px;
    color: #f95154;
    font-weight: bold;
}




.form-btn{
    display: inline-block;
}


#Indicator{
    width: 100px;
    border: none;
    background:#7cad2f;
    height: 3px;
    margin-top: 8px;
}

/*.form-btn img{
    width: 150px;
    align-content: center;
    margin-top: -100px;
}*/
















/*---------------------------media query for menu --------------------------*/

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: var(--secondary-color);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }


    nav ul li a{
        color: var(--primary-color);

    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }


}


/*---------------------------media query for menu 600px --------------------------*/

@media only screen and (max-width: 900px){
    .row{
        text-align: center;
        margin-bottom: 100px;
        padding-top: 0;
    }

    .col-2{
        flex-basis: 100%;
    }


    .img-box{
        position: relative;
        width: 100%;
        margin-left: 100px;
    }

    .img-box img{
        position: relative;
        margin: auto;
    }

}
